/* App.cs */

	body {
		background-image: url("https://img.freepik.com/free-photo/healthy-bowl-organic-fruit-granola-generated-by-ai_188544-53997.jpg?w=1380&t=st=1721374416~exp=1721375016~hmac=2e051abc999037dcb42975fa515c36114ad92dc79f094a349988194abf0374c3");
	  }



.container { 
	max-width: 400px; 
	margin: 0 auto; 
	padding: 20px; 
} 

h1 { 
	color: hsla(0, 100%, 50%, 0.953); 
	text-align: center; 
	margin-bottom: 20px; 
} 

.input-container { 
	margin-bottom: 10px; 
} 

label { 
	display: block; 
	font-weight: bold; 
	margin-bottom: 5px; 
} 

input[type='number'] { 
	width: 100%; 
	padding: 10px; 
	font-size: 16px; 
} 



.result { 
	margin-top: 20px; 
	padding: 10px; 
	background-color: #f0f0f0; 
	border-radius: 4px; 
} 

.bmi-value { 
	font-weight: bold; 
} 

.bmi-message { 
	color: #007bff; 
	font-weight: bold; 
}

.color{
  color:rgba(215, 29, 29, 0.795);
  margin-left: 50px;
  margin-top: 10px;
  font-size: 12px;
 
}




